<p>让程序以守护进程运行(No)</p>
<p>使用redis队列向程序发送爬取任务(YES)</p>
<p>并发(YES)，并发控制</p>
<p>bundle 管理依赖(YES)</p>
<p>爬取内容：标题，正文（实现需爬此页面即可 http://news.qq.com/a/20170815/035706.htm）(YES)</p>
<p>考虑爬取的拓展性（快速开发爬取新的新闻页面结构)(......)</p>

<p>
  第一条要求我认怂....后面5条用了不到30分钟,余下的尽4个多小时全用在Daemon上了....如果可以请告诉我怎么弄!
</p>

